@use '../var/color' as *;

.auth {
	height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	>.nav-back {
		cursor: pointer;
		position: fixed;
		top: 5rem;
		left: 5rem;
		font-size: 2rem;
	}

	>.auth-form {
		width: clamp(300px, 100%, 600px);
		height: 450px;
		box-shadow: 0 0 10px $color-primary;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2.5rem;
		gap: 1.5rem;

		>.title {
			font-size : 3rem;
			text-align: center;
			margin-bottom: auto;
			color: $color-title;
		}

		>.actions {
			width: 100%;
			max-width: 300px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1rem;

			.link {
				color: $color-primary;
				text-decoration: underline;
			}
		}
	}
}