@use '../var/color' as *;

.landing {
	width: 100%;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	background-color: $color-background;


	.landing-header {
		user-select: none;
		position: sticky;
		top: 0;
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2rem;
		background-color: $color-background;

		// Logo
		.logo {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1rem;

			// Link to home
			.site-title {
				font-size: 2.5rem;
				font-weight: bolder;
				text-decoration: none;
				color: $color-title;
			}
		}

		// Links
		.nav-links {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 2rem;

			&:has(.nav-link:hover) {
				.nav-link:not(:hover) {
					opacity: .9;
					filter: blur(1px)
				}
			}

			.nav-link {
				font-size: 1.5rem;
				text-transform: uppercase;
				text-wrap: nowrap;
				position: relative;
				color: $color-text;
				text-decoration: none;
				transition: .3s;
				text-align: center;

				&::before {
					content: "";
					position: absolute;
					top: 125%;
					width: 0;
					height: 2px;
					background-color: $color-text;
					left: 50%;
					transform: translateX(-50%);
					transition: .3s;
				}

				&.active {
					color: $color-primary;
					text-shadow: 0 0 5px $color-primary,
						0 0 10px $color-primary;

					&::before {
						width: 30px;
						background-color: $color-primary;
					}
				}
			}
		}

		.auth-actions {
			.cta {
				text-decoration: none;
				color: $color-text;
				text-transform: uppercase;
				transition: .3s;
				border: 1px solid $color-text;
				padding: 1rem 2.5rem;
				border-radius: 5px;

				&:hover {
					border-color: $color-primary;
					box-shadow: 0 0 5px $color-primary;
					color: $color-primary;
					text-shadow: 0 0 5px $color-primary;
				}
			}
		}
	}

	.outlet-container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}