@use '../var/color' as *;
@use '../var/size' as *;

.mailer {
	width: 100%;
	height: 100svh;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;

	.header {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.site-title {}

		.profile {
			width: 48px;
			aspect-ratio: 1/1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		overflow-y: auto;

		&::-webkit-scrollbar {
			display: none;
		}

		.actions {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: end;
			flex-wrap: wrap;

			.add {
				cursor: pointer;
				width: 48px;
				aspect-ratio: 1/1;
				background-color: transparent;
				font-size: 2rem;
				color: $color-text;
				border: 0;
				outline: none;
				transition: .3s;
				border-radius: 999px;

				@media screen and (min-width: $size-mobile) {
					&:hover {
						scale: 1.4;
					}
				}
			}
		}

		.projects {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			gap: 2rem;

			&.skeleton {
				overflow: hidden;
			}
		}
	}
}