@use './var/color' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // 1rem = 10px for easier rem calculations
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	color: $color-text;
	background-color: $color-background;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;

	&::-webkit-scrollbar {
		display: none;
	}
}

.confirm-dialog-custom-overlay {
	background-color: #00000090 !important;

	.react-confirm-alert-body {
		background-color: $color-card !important;
		color: $color-text;

		.react-confirm-alert-button-group {
			height: 48px;

			button {
				height: 100%;

				&[label=Delete] {
					background-color: red !important;
				}
			}
		}
	}
}